In [43]:
import pandas as pd
df = pd.read_csv("books.csv", encoding='utf-8')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   isbn                11127 non-null  object
 5   isbn13              11127 non-null  float64
 6   language_code       11127 non-null  object
 7     num_pages         11127 non-null  int64
 8   ratings_count       11127 non-null  int64
 9   text_reviews_count  11127 non-null  int64
 10  publication_date    11127 non-null  object
 11  publisher           11127 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 1.0+ MB

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9.780440e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9.780440e+12,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9.780440e+12,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780440e+12,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9.780440e+12,eng,2690,41428,164,9/13/2004,Scholastic

In [44]:
df.describe()

,bookID,average_rating,isbn13,num_pages,ratings_count,text_reviews_count
count,11127.000000,11127.000000,1.112700e+04,11127.000000,1.112700e+04,11127.000000
mean,21310.938887,3.933631,9.759888e+12,336.376921,1.793641e+04,541.854498
std,13093.358023,0.352445,4.428964e+11,241.127305,1.124794e+05,2576.176608
min,1.000000,0.000000,8.987060e+09,0.000000,0.000000e+00,0.000000
25%,10287.000000,3.770000,9.780350e+12,192.000000,1.040000e+02,9.000000
50%,20287.000000,3.960000,9.780590e+12,299.000000,7.450000e+02,46.000000
75%,32104.500000,4.135000,9.780870e+12,416.000000,4.993500e+03,237.500000
max,45641.000000,5.000000,9.790010e+12,6576.000000,4.597666e+06,94265.000000

In [45]:
df = df.drop(columns=['isbn','isbn13']) # Dropping isbn and isbn13 columns because we won't need them to evaluate a book
df.columns = df.columns.str.strip() # taking away whitespaces spaces from the columns' respective names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   language_code       11127 non-null  object
 5   num_pages           11127 non-null  int64
 6   ratings_count       11127 non-null  int64
 7   text_reviews_count  11127 non-null  int64
 8   publication_date    11127 non-null  object
 9   publisher           11127 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 869.4+ KB

In [46]:
# Making the average_rating and the num_pages columns numerical
df['average_rating'] = pd.to_numeric(df['average_rating'], errors='coerce') #'coerce' : any non-numeric values which will be converted to NaN
df['num_pages'] = pd.to_numeric(df['num_pages'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   language_code       11127 non-null  object
 5   num_pages           11127 non-null  int64
 6   ratings_count       11127 non-null  int64
 7   text_reviews_count  11127 non-null  int64
 8   publication_date    11127 non-null  object
 9   publisher           11127 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 869.4+ KB

In [47]:
# The proportion of missing values is very low, so we're replacing them with their respective column's mean (inplace so no copy)
df['average_rating'].fillna(df['average_rating'].mean(), inplace=True)
df['num_pages'].fillna(df['num_pages'].mean(), inplace=True)
print(df.isnull().sum())
df.info()
df.head()

bookID                0
title                 0
authors               0
average_rating        0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bookID              11127 non-null  int64
 1   title               11127 non-null  object
 2   authors             11127 non-null  object
 3   average_rating      11127 non-null  float64
 4   language_code       11127 non-null  object
 5   num_pages           11127 non-null  int64
 6   ratings_count       11127 non-null  int64
 7   text_reviews_count  11127 non-null  int64
 8   publication_date    11127 non-null  object
 9   publisher           11127 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 869.4+ KB

,bookID,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,41428,164,9/13/2004,Scholastic

In [48]:
# Checking for duplicates
df.duplicated().sum()

0

In [49]:
# checking the numeric columns for unusual values
df[['average_rating', 'num_pages', 'ratings_count', 'text_reviews_count']].describe()

       average_rating     num_pages  ratings_count  text_reviews_count
count    11127.000000  11127.000000   1.112700e+04        11127.000000
mean         3.933631    336.376921   1.793641e+04          541.854498
std          0.352445    241.127305   1.124794e+05         2576.176608
min          0.000000      0.000000   0.000000e+00            0.000000
25%          3.770000    192.000000   1.040000e+02            9.000000
50%          3.960000    299.000000   7.450000e+02           46.000000
75%          4.135000    416.000000   4.993500e+03          237.500000
max          5.000000   6576.000000   4.597666e+06        94265.000000

In [50]:
# converting 'publication_date' into a datatime format
df['publication_date'] = pd.to_datetime(df['publication_date'], errors='coerce')
df.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      2
publisher             0
dtype: int64

In [51]:
# Checking the indexes of the null values
df[df.publication_date.isna()].index

Index([8180, 11098], dtype='int64')

In [52]:
# replacing the data with original values after searching manually
df.at[8180, 'publication_date'] = '1/10/2000'
df.at[11098, 'publication_date'] = '4/23/1982'
df['publication_date'] = pd.to_datetime(df['publication_date'], errors='coerce')
df.isnull().sum()

bookID                0
title                 0
authors               0
average_rating        0
language_code         0
num_pages             0
ratings_count         0
text_reviews_count    0
publication_date      0
publisher             0
dtype: int64

In [53]:
# Unique values count for categorical columns
categorical_columns = df.select_dtypes(include=['object', 'datetime']).columns
categorical_unique_values = {col: df[col].nunique() for col in categorical_columns}
categorical_unique_values

{'title': 10352,
 'authors': 6643,
 'language_code': 27,
 'publication_date': 3678,
 'publisher': 2292}

In [54]:
# Display unique language codes to inspect their format and consistency
unique_lang = df['language_code'].unique()
print(unique_lang)

['eng' 'en-US' 'fre' 'spa' 'en-GB' 'mul' 'grc' 'enm' 'en-CA' 'ger' 'jpn'
 'ara' 'nl' 'zho' 'lat' 'por' 'srp' 'ita' 'rus' 'msa' 'glg' 'wel' 'swe'
 'nor' 'tur' 'gla' 'ale']

In [55]:
# we will leave the books written in english languages as they are. A GB or US
# book might be more known than a CA one.

In [56]:
# making the author column in the same form
df['authors']=df['authors'].str.strip("[^a-zA-Z./\s]")
df['authors']

0                               J.K. Rowling/Mary GrandPré
1                               J.K. Rowling/Mary GrandPré
2                                             J.K. Rowling
3                               J.K. Rowling/Mary GrandPré
4                               J.K. Rowling/Mary GrandPré
                               ...
11122    William T. Vollmann/Larry McCaffery/Michael He...
11123                                  William T. Vollmann
11124                                  William T. Vollmann
11125                                  William T. Vollmann
11126                                           Mark Twain
Name: authors, Length: 11127, dtype: object

In [57]:
#repeating the same step on the title column
df['title']=df['title'].str.strip("[^a-zA-Z./\s]")
df['title']

0        Harry Potter and the Half-Blood Prince (Harry ...
1        Harry Potter and the Order of the Phoenix (Har...
2        Harry Potter and the Chamber of Secrets (Harry...
3        Harry Potter and the Prisoner of Azkaban (Harr...
4        Harry Potter Boxed Set  Books 1-5 (Harry Potte...
                               ...
11122     Expelled from Eden: A William T. Vollmann Reader
11123                           You Bright and Risen Angel
11124                      The Ice-Shirt (Seven Dreams #1)
11125                                          Poor People
11126                          Las aventuras de Tom Sawyer
Name: title, Length: 11127, dtype: object

In [58]:
# same step on the publisher columns
df['publisher']=df['publisher'].str.strip("[^a-zA-Z./\s]")
df['publisher']

0        Scholastic Inc
1        Scholastic Inc
2            Scholastic
3        Scholastic Inc
4            Scholastic
              ...
11122       Da Capo Pre
11123      Penguin Book
11124      Penguin Book
11125              Ecco
11126      Edimat Libro
Name: publisher, Length: 11127, dtype: object